h1{
    font-family:'Open sans',sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 159px;
    font-size: 170%;
    
}
div img{
    width: 100%;
    height: 200px;;
    margin-right: 20px;
    opacity: 0.2;
    position: relative;
    top: 150px;
    
    
}

h3{
    text-align:left;
    font-family:'open sans', sans-serif;
    font-size:18px;
    position: relative;
    top: 80px;
    
    
    
}
ol {
    position: relative;
    top: 80px;

}
body{
    background-color: hsl(34, 78%, 91%)
    
}
header img {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: flex-start; /* Align items to the start */
}
header  img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    position: relative;
    bottom: 250px;
}


nav {
    position: absolute;
    bottom: 75%; /* instead of fixed pixels, use a relative unit */
    right: 10px;
    }
footer{
    position:relative;
    top: 100px;
}

body {
    max-width: 100vw; /* or a specific width like 1200px */
    overflow-x: hidden; /* hide horizontal scrollbar */
  }
  