h1{
    font-family:'Open sans',sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 170px;
    font-size: 170%;
}
header img {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: flex-start; /* Align items to the start */
}
header  img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    position: relative;
    bottom: 250px;
}

div img{
    width: 100%;
    height: 200px;;
    margin-right: 20px;
    opacity: 0.2;
    position: relative;
    top: 150px;
}

body{
    background-color: hsl(34, 78%, 91%);
    position: relative
}

body {
    max-width: 100vw; /* or a specific width like 1200px */
    overflow-x: hidden; /* hide horizontal scrollbar */
  }

.first h3{ /*this is for the first */
    text-align:left;
    font-family:'open sans', sans-serif;
    font-size:18px;
    position: relative;
    top: 0.9px;
}
h3{
    text-align:left;
    font-family:'open sans', sans-serif;
    font-size:18px;
    position: relative;
    top: 9px;
}

.first p{
    /*text-align: center;*/
    display: block;
    margin-right: 3cm;
    position: relative;
    top: 8px;
}
p{
    /*text-align: center;*/
    display: block;
    margin-right: 3cm;
    position: relative;
    top: 8%;
}
.first ol{
    position: relative;
    top: 10px;
}
ol{
    position: relative;
    top: 10px;
}



    
  