body{
    background-color: hsl(34, 78%, 91%);
    position: relative
    
}
/*img {
    width: 500px;
    height: auto;
    /*margin-right: 200px;*/
    /*margin-left: 300px;*/
    
    
    /*margin-left: 28%;
}*/


  body {
    max-width: 100vw; /* or a specific width like 1200px */
    overflow-x: hidden; /* hide horizontal scrollbar */
    overflow-y: hidden;
}

img {
    width: 500%;
    max-width: 500px; /* maximum width of the image */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; /* center the image */
}

/* Media query for larger screens */
@media (min-width: 600px) {
    img {
        margin-left: 28%;
    }
}

nav a {
    font-size: 10px; /* Set the desired font size */
    text-decoration: none; /* Optional: remove underline from links */
    color: inherit; /* Optional: inherit the color from the parent */
}

/* Media query for larger screens (optional) */
@media (min-width: 600px) {
    nav a {
        font-size: 18px; /* Adjust font size for larger screens if needed */
    }
}
footer a {
    font-size: 10px; /* Set the desired font size */
    text-decoration: none; /* Optional: remove underline from links */
    color: inherit; /* Optional: inherit the color from the parent */
}

/* Media query for larger screens (optional) */
@media (min-width: 600px) {
    nav a {
        font-size: 18px; /* Adjust font size for larger screens if needed */
    }
}

